<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    
    <title>Daily Journal</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet"/>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">Daily JOURNEY</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="home" ><a href="/">HOME</a></li>
                <li id="about" ><a href="/about">ABOUT</a></li>
                <li id="contact" ><a href="/contact">CONTACT US</a></li>
                <li id="contact" ><a href="/compose">COMPOSE</a></li>
            </ul>
        </div>
    </nav>
  
  <body>
    <div class="container">
