<%- include("partials/header") %>

<h1><%= title %></h1>
<p ><%= content %></p>


<%- include("partials/footer") %>

<!-- content.forEach(para => {
    const content = para.textContent;
    if (content.length > 100) {
      para.textContent = content.slice(0, 100) + "...";
    }
  }); -->